<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>

  <meta name="author" content="{{ author }}">
  <meta name="description" content="{{ description }}">

  <meta name="twitter:card" content="{{ twitter.card }}">
  <meta name="twitter:creator" content="{{ twitter.creator }}">

  <meta property="og:url" content="{{ og.url }}">
  <meta property="og:title" content="{{ og.title }}">
  <meta property="og:description" content="{{ og.description }}">
  <meta property="og:image" content="{{ og.image }}">

  <link href="/css/index.css" type="text/css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/far.min.css" type="text/css" rel="stylesheet">

</head>
<body>
  <header>
    Juego DIVCompo 2020
  </header>
  <main>
    {{{ contents }}}
  </main>
  <footer>
    <ul>
      <li><a href="https://gitlab.com/azazeln28/juego-compo-1">Repo del juego</a></li>
      <li><a href="https://gitlab.com/azazeln28/juego-compo-1-devlog">Repo de este devlog</a></li>
    </ul>
    <p>Generated with {{ generator.name }} &mdash; <a href="{{ generator.url }}">{{ generator.url }}</a></p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
  <script src="/js/highlight.js"></script>
</body>
</html>
